@font-face {
  font-family: 'Avenir Next Variable';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2729/AvenirNext_Variable.ttf') format('truetype');
}
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position:relative;
  overflow:hidden;
  font-family: "Avenir Next Variable", "sans-serif";
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

.circle {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  opacity:.9;
  fill:liner-gradient(#42afe5, #3fdcff);
}

#popupDiv {
  border-radius: 7px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, .4) !important;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  height: 75vh;
  width: 40vw;
  min-width: 500px;
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y:scroll;
}

#popupDiv--closeButton {
  position: absolute;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  top: 10%;
  left: 2%;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, .4) !important;
}

.left {
  position: absolute;
  height: 20px;
  opacity: 0.3;
  background-color: #333;
  width: 2px;
  transform: rotate(45deg);
}

.right {
  position: absolute;
  height: 20px;
  opacity: 0.3;
  background-color: #333;
  width: 2px;
  transform: rotate(-45deg);
}

.popupDiv__header {
  margin: 0px, 40px, 0px, 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top:0;
  background-color: rgba(255, 255, 255, .65);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  line-height: 2px;
  text-align: center;
}

#popupDiv__text {
  padding: 0 75px 0px 75px;

}
#popupDiv__text p {
  line-height: 1.25;
  font-family: "Avenir Next", "sans-serif";
  font-weight: regular;

}

#popupDiv__text li {
  margin-bottom: 10px;
  font-family: "Avenir Next", "sans-serif";
}

.widget-container {
  display:flex;
  flex-direction: column;
  height:96.5vh;
  pointer-events: none !important;
}

.large-widget {
  width:23vw;
  min-width: 350px;
  border-radius: 7px;
  padding: 20px 30px 20px 30px;
  text-align: center;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3) !important;
  background-color: rgba(255, 255, 255, 0.45);
  margin-bottom: 15px;
}

.transition {
  transition: margin-left 0.75s;
  transition-timing-function: ease-in-out;
}

#infoDiv{
  height:auto;
  pointer-events: auto;
  margin-left: -1000px;
}

#noFossilsInfo {
  display: none;
  
}
#noFossilsInfo p {
  text-align: center;
  margin-top: .75rem;
}

#taxaInfo {
  display: none;
}

#noFossilsDiv {
  display:none;
  height:190px;
  
}

#sliderDiv {
  display:none;
  display:initial;
  pointer-events: auto;
}

#outer-count-container {
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  width:100%;
  align-items: center;
}

.inner-count-container {
  display: -moz-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  max-height: 22.5vh;
}

.count-svg {
  height:auto;
}

.esri-widget{
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.45) !important;
  -webkit-backdrop-filter: blur(6px) !important;
          backdrop-filter: blur(6px) !important;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1) !important;
  transition: box-shadow .3s;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .esri-widget{
    background-color: rgba(255, 255, 255, 0.75) !important;
  }
  .large-widget{
    background-color: rgba(255, 255, 255, 0.8);
  }
  .splide__arrow{
    background-color: rgba(255, 255, 255, 1);
  }
}

.esri-widget:hover {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, .175) !important;
}

.custom-widget {
  height: 5.4vh;
  width:5.4vh;
  min-width: 45px;
  min-height: 45px;
  font-size: .75rem;
}

#icon-container {
  height:auto;
  width:auto;
}

.splide__slide {
  max-width: 30vw;
  min-width: 350px;
  width:100%;
}

#caption {
  height:2rem;
}

.splide__slide img {
  max-width:95%;
	max-height: 94%;
}

.splide__slide--imageContainer {
  height: 35vh;
  display:flex;
  align-items: center;
  justify-content: center;
}


h1 {
  font-family: "Avenir Next Variable" !important;
  font-variation-settings: 'wght' 675;
  font-size: calc(24px + (31 - 24) * ((70vmin - 300px) / (1600 - 300)));
  font-weight: normal;
  margin-top:0px;
  margin-bottom: 0;
  line-height:1.85rem;
  display: inline;
  color: rgb(50, 50, 50)
}

p {
  font-variation-settings: 'wght' 400;
  font-size: calc(13px + (16 - 13) * ((100vmin - 300px) / (1600 - 300)));
  margin: 0.2rem;

}

.taxa-count {
  font-family: "Avenir Next Variable" !important;
  font-variation-settings: 'wght' 300 !important;
  font-size: calc(16px + (22 - 16) * ((69vw - 400px) / (1600 - 400)));
  line-height: 1.85rem;
}

@media (max-height:750px) {
  h1 {
    font-size: calc(20px + (39 - 20) * ((100vh - 500px) / (1600 - 500)));
    line-height: 1.75rem;
    margin-top: 0.35rem;
  }

  .taxa-count {
    font-family: "Avenir Next Variable" !important;
    font-variation-settings: 'wght' 300 !important;
    font-size: calc(16px + (22 - 16) * ((69vh - 400px) / (1600 - 400)));
    line-height: 1.85rem;
  }

  #infoDiv {
    height: auto;
  }


  .splide__slide--imageContainer {
    height: 30vh;
    display:flex;
    align-items: center;
    justify-content: center;
  }




}





/* ==========================================================
 WIDGET STYLING
 ========================================================= */


 .highcharts-container {
  max-width:100% !important;
  height:100% !important;
  position: relative;
  min-height: 200px;
}

.highcharts-root {
  max-height: 24vh;
  width: 550px;
  min-height: 200px;
}

.highcharts-background {
  max-height: 24vh;
  min-height: 200px;
  width: 550px !important;
}

.highcharts-drillup-button rect {
  width: 100px;
  height: 50px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3) !important;
  display: flex;
  align-items: center;
  text-align: center;
}

.highcharts-drillup-button text {
  font-size: 22px;
  transform: translateY(100);

}


svg .widget-button {
  pointer-events: none;
  -webkit-filter: drop-shadow( 0px 0px .5px rgba(0, 0, 0, .3));
  filter: drop-shadow( 0px 0px .5px rgba(0, 0, 0, .3));
  }

  .esri-ui-corner .esri-component {
    box-shadow: none;
  }
  

  #draw-widget{
    height: 4.5vh;
    width: 4.5vh;
    min-width: 35px;
    min-height: 35px;
    position: absolute;
    top:-10%;
  }
  
  #reset-widget {
    height: 3.25vh;
    width: 3.25vh;
    min-width: 25px;
    min-height: 25px;
    position: absolute;
    top: 10%;
  }

  #select-by-polygon {
    position: relative;
  }

  #return-to-extent {
    position: relative;
  }
  #zoomDiv{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0);
    position: relative;
    height: 13vh;
    width:5.4vh;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  #zoom-in {
    border-radius: 50%;
    position: absolute;
    top: 6%;
  }

  #zoom-out {
    border-radius: 50%;
    position: absolute;
    bottom:6%;
  }


.draw-animation {
  stroke-dasharray: 100;
  stroke-dashoffset: 105;
  -webkit-animation: draw 1s ease-in forwards;
          animation: draw 1s ease-in forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}


#widget-label {
  position: absolute;
  bottom:0%;
}


.cursor-animation {
  stroke-dasharray: 75;
  stroke-dashoffset: 100;
  -webkit-animation: draw 5s linear forwards;
          animation: draw 5s linear forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}


.draw-path {
  fill:none;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-width: 3.5px;
  stroke: url(#linear-gradient-2);
}

.draw-cursor {
  fill: rgba(255, 255, 255, 0.75);
  stroke: url(#linear-gradient);
  stroke-width: 0.33px;
  opacity: 0.7;
}

.reset-animation {
  -webkit-animation-name: loading-spinner;
          animation-name: loading-spinner;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-timing-function: cubic-bezier(.67,.01,.35,1);
          animation-timing-function: cubic-bezier(.67,.01,.35,1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes loading-spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(720deg);}
  }

@keyframes loading-spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(720deg);}
  }

.reset-path{
  fill:none;
  stroke-linejoin: round;
  stroke-width: 5px;
  stroke: url(#linear-gradient-2);
  stroke-linecap: round;
}

.reset-arrowhead {
  fill: url(#linear-gradient-2);
}
