@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

html {
  font-size: calc(.25vmin + 7px);
  margin: 0;
}

body {
  font-family: "Inter", "Segoe UI", sans-serif;
  margin: 0;
  overflow: hidden;
}

.ui-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.ui-top-left {
  top: 0;
  left: -100%;
  transition: left 0.7s ease-out;
}

.ui-top-right {
  top: 0;
  right: 0;
}

.ui-bottom-right {
  bottom: 0;
  right: 0;
}

.ui-bottom-left {
  bottom: 0;
  left: 0;
}

.card {
  height: auto;
  width: 50rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  transition: height 1s;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.card__title {
  padding: 0px 0.25rem 0px 0.25rem;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__flex-item {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 0rem 3rem 0rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seperator {
  width: 20rem;
  height: 1px;
  background-color: rgba(117, 117, 117, 0.2);
}

.card__menu {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px 10px 0px 0px;
  height: auto;
  width: 100%;
  padding: 1.25rem 0rem 1.25rem 0rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.1);
}

.button__outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 0px 20px;
}

.button__inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
}

.button {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-width: 0px;
}

.button--active {
  background: linear-gradient(0deg, #42afe5, #3fdcff);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1) !important;
}

.button__caption--active {
  font-weight: 700;
}

#collection {
  display: none;
}

#location {
  display: flex;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.35s;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:active {
  outline: 0px;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.hvr-grow-shadow:focus {
  outline: 0px;
}

/* Grow Shadow */
.hvr-grow-shadow--arrow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.35s;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow--arrow:hover, .hvr-grow-shadow--arrow:active {
  outline: 0px;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
  transform: translate(0px, -49%);
}

.button__caption {
  margin-top: 0.7rem;
  font-size: 1rem;
}

h1 {
  font-weight: 800;
  color: #3c3c3c;
  font-size: 2.5rem;
  margin: 0rem 0rem 0.5rem 0rem;
}

h2 {
  font-weight: 400;
  font-variation-settings: "wght" 400;
  color: #3c3c3c;
  margin: 0px;
  font-size: 1.9rem;
}

h3 {
  color: #3c3c3c;
  margin-top: 0rem;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

h4 {
  color: #3c3c3c;
  font-size: 1.6rem;
  margin: 0px;
  font-weight: 400;
}

p {
  color: #3c3c3c;
  font-size: 1.425rem;
  margin: 0;
}

.instructions {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 17rem;
  transition: top 0.5s ease-in-out;
  box-sizing: border-box;
  padding: 0rem 3rem 0rem 3rem;
  line-height: 3rem;
}

.taxa__grid {
  display: inline-grid;
  width: 100%;
  flex-flow: row wrap;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 1.15rem;
  justify-items: center;
}

.taxa__cell {
  width: 17.5rem;
  padding-left: 0.25rem;
  display: flex;
  align-items: center;
}

.taxa__icon {
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, 0.2);
  margin-right: 0.7rem;
}

.underwater__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.85rem;
}

.underwater__icon {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  margin-right: 2rem;
  position: relative;
  box-shadow: 0px 0px 3px 2px rgba(24, 24, 24, 0.07);
}

.underwater__svg {
  width: 4.75rem;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%;
  margin: auto;
}

.splide__slide__container {
  display: inline-block;
}

.splide__captions {
  display: block;
  margin-top: 1.75rem;
  text-align: center;
  line-height: 2rem;
}

.splide {
  width: calc(50rem - 5rem);
  margin-bottom: calc(3rem - 1rem);
}

.splide__slide {
  width: calc(50rem - 5rem);
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splide__slide--imageContainer {
  max-height: calc(30rem - 8rem);
  max-width: calc(50rem - 5rem);
}

img {
  max-height: 100%;
  max-width: 100%;
}

.splide__pagination {
  position: absolute !important;
  bottom: -5% !important;
}

.splide__pagination__page.is-active {
  background: #33cfff !important;
}

.timescale__container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 37rem;
  margin-top: 0.75rem;
}

.indicator {
  position: absolute;
  bottom: 120%;
  right: 2.6%;
  width: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indicator__line {
  width: 100%;
  height: 2px;
  background-color: grey;
  transition: width 1s ease-out;
}

.indicator__tick {
  width: 2px;
  height: 10px;
  background-color: grey;
}

.timescale__bar {
  position: relative;
  height: 2rem;
}

.cretaceous {
  background-color: green;
  width: 34.7%;
  border-radius: 5px 0px 0px 5px;
}

.paleogene {
  background-color: orange;
  width: 42.6%;
}

.neogene {
  background-color: yellow;
  width: 20%;
}

.holocene {
  background-color: tan;
  width: 2.8%;
  border-radius: 0px 5px 5px 0px;
}

.timescale__age {
  position: absolute;
  text-align: left;
  width: 100%;
  bottom: -180%;
  font-size: 1.15rem;
}

.cretaceous__age {
  left: -4%;
}

.paleogene__age {
  left: 30%;
}

.neogene__age {
  left: 70%;
}

.holocene__age {
  left: 89%;
}

.timescale-legend {
  display: flex;
  flex-direction: row;
  margin-top: 4.25rem;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.timescale-legend__text {
  margin-top: 0px;
  display: inline;
  margin-bottom: 0px;
}

.timescale-legend__item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-right: 0.75rem;
  margin-top: 1.5rem;
}

.timescale-legend > :last-child {
  margin-right: 0rem;
}

.timescale-legend-circle {
  min-width: 1.15rem;
  min-height: 1.15rem;
  width: 1.15rem;
  height: 1.15rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

#cretaceous-circle {
  background-color: green;
}

#paleogene-circle {
  background-color: orange;
}

#neogene-circle {
  background-color: yellow;
}

#recent-circle {
  background-color: tan;
}

.legend {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2rem;
  justify-content: space-around;
}

.legend__circle {
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.legend__flex-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legend__circle--locality {
  background-color: rgba(20, 204, 180, 0.5);
  box-shadow: 0px 0px 0px 0.15rem rgba(247, 247, 247, 0.5);
}

.photo-indicator {
  display: none;
}

.legend__text {
  display: inline-block;
  margin: 0rem;
}

.legend__circle--photo {
  background-color: #33cfff;
  box-shadow: 0px 0px 0px 0.3rem #5df7fc;
}

.widget {
  font-family: "Inter", "Segoe UI", sans-serif;
  height: 5.75rem;
  width: 5.75rem;
  min-width: 45px;
  min-height: 45px;
  font-size: 1.35rem;
  opacity: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  border-width: 0px;
  margin-bottom: 15px;
}

.widget:last-child {
  margin-bottom: 0px;
}

.widget__svg {
  pointer-events: none;
  filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.3));
}

.draw-widget__svg {
  height: 4.5rem;
  width: 4.5rem;
  min-width: 35px;
  min-height: 35px;
  position: absolute;
  top: -10%;
}

.reset-widget__svg {
  height: 3.25rem;
  width: 3.25rem;
  min-width: 25px;
  min-height: 25px;
  position: absolute;
  top: 10%;
}

.zoom {
  border-radius: 50%;
  position: relative;
}

#zoomIn::before {
  content: " ";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 1.5px;
  height: 42%;
  width: 3.5px;
  background-image: linear-gradient(0deg, #42afe5, #3fdcff);
}

#zoomIn::after {
  content: " ";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 1.5px;
  height: 3.5px;
  width: 42%;
  background: linear-gradient(to right, #42afe5, #3fdcff);
}

#zoomOut::before {
  content: " ";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 1.5px;
  height: 3.5px;
  width: 42%;
  background: linear-gradient(to right, #42afe5, #3fdcff);
}

.draw-widget__animation {
  stroke-dasharray: 100;
  stroke-dashoffset: 105;
  -webkit-animation: draw 1s ease-in forwards;
  animation: draw 1s ease-in forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.widget__label {
  position: absolute;
  bottom: 2%;
  color: #3c3c3c;
}

.cursor-animation {
  stroke-dasharray: 75;
  stroke-dashoffset: 100;
  -webkit-animation: draw 5s linear forwards;
  animation: draw 5s linear forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.draw-widget__path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-width: 3.5px;
  stroke: url(#linear-gradient-2);
}

.draw-cursor {
  fill: rgba(255, 255, 255, 0.75);
  stroke: url(#linear-gradient);
  stroke-width: 0.33px;
  opacity: 0.7;
}

.reset-widget__animation {
  -webkit-animation-name: loading-spinner;
  animation-name: loading-spinner;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-timing-function: cubic-bezier(0.67, 0.01, 0.35, 1);
  animation-timing-function: cubic-bezier(0.67, 0.01, 0.35, 1);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.reset-widget__path {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 5px;
  stroke: url(#linear-gradient-2);
  stroke-linecap: round;
}

.reset-widget__arrowhead {
  fill: url(#linear-gradient-2);
}

[ripple] {
  position: relative;
  overflow: hidden;
}

[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[ripple] .ripple--container span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  background-color: #d1d1d1;
  -webkit-animation: ripple 1000ms;
          animation: ripple 1000ms;
}
@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
.switch__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 5.75rem;
  height: 2.5rem;
  margin-bottom: 0.7rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(2.5rem - 0.75rem);
  width: calc(2.5rem - 0.75rem);
  left: 0.47rem;
  bottom: 0.374rem;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(0deg, #42afe5, #3fdcff);
}

input:focus + .slider {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(3rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

.button__svg {
  position: absolute;
  height: 2.25rem;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10000;
  pointer-events: none;
}

.button__svg {
  stroke: #3F3F3F;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}

#viewDiv {
  visibility: hidden;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .widget {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.45);
  }

  .card {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.75);
  }
}
@media only screen and (max-height: 775px) {
  html {
    font-size: calc(.2vmin + 6px);
  }

  .widget {
    font-size: 1.5rem;
  }
}
@media only screen and (max-height: 675px) {
  html {
    font-size: calc(.2vmin + 5px);
  }

  .widget {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */