@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


$blur:blur(10px);
$card-border-radius: 10px;
$card-flex-gap: 3rem;
$card-margin: 1.25rem;
$card-width: 50rem;
$card-margin-bottom: 1.5rem;
$box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
$linear-gradient: linear-gradient(0deg, #42afe5, #3fdcff );
$icon-background--inactive: rgb(225, 225, 225);
$font-family: "Inter", "Segoe UI", sans-serif;

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

html {
  font-size: calc(.25vmin + 7px);
  margin: 0;
}

body {
  font-family: $font-family;
  margin: 0;
  overflow: hidden;
}

.ui-container {   
  position:absolute;
  display: flex;
  flex-direction: column;
  margin: $card-margin-bottom;
}

.ui-top-left {
  top: 0;
  left: -100%;
  transition: left 0.7s ease-out;
}

.ui-top-right {
  top: 0;
  right: 0;
}

.ui-bottom-right {
  bottom: 0;
  right: 0;
}

.ui-bottom-left {
  bottom: 0;
  left: 0;
}

.card {
  width: $card-width;
  border-radius: $card-border-radius;
  background-color: rgba(255, 255, 255, 0.95);
  margin-bottom: $card-margin-bottom;
  box-shadow: $box-shadow;
  
  
}

.info-card__card {
  transition: height 250ms;
}

.card__title {
  padding: 0px .25rem 0px .25rem
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__flex-item { 
  margin-bottom: $card-flex-gap;
  box-sizing: border-box;
  padding: 0rem $card-flex-gap 0rem $card-flex-gap;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seperator {
  width: 20rem;
  height: 1px;
  background-color: rgba(117, 117, 117, 0.2);
}

.card__menu {
  $padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: $card-border-radius $card-border-radius 0px 0px;
  height:auto;
  width:100%;
  padding:$padding 0rem $padding 0rem;
  display:flex;
  justify-content: center;
  margin-bottom: $card-flex-gap;
  box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.1);
}

.button__outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  $margin: 20px;
  margin: 0px $margin 0px $margin;
}

.button__inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  $radius: 5rem;
  height: $radius;
  width: $radius
}

.button {
  height: 100%;
  width: 100%;
  
  border-radius: 50%;
  border-width: 0px;
  
}

.button--active {
  background: $linear-gradient;
  box-shadow: $box-shadow !important;
}

.button__caption--active {
  font-weight:700 ;
}

#collection {
  display:none;
}

#location {
  display:flex;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:active {
  outline: 0px;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  

}

.hvr-grow-shadow:focus {
  outline: 0px;
}

/* Grow Shadow */
.hvr-grow-shadow--arrow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow--arrow:hover, .hvr-grow-shadow--arrow:active {
  outline: 0px;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transform: translateY(1.01);
  transform: translate(0px, -49%);
}

.button__caption {
  margin-top:0.7rem;
  font-size: 1rem

}

$font-color: rgb(60, 60, 60);

h1{
  font-weight: 800;
  color: $font-color;
  font-size: 2.5rem;
  margin:0rem 0rem .5rem 0rem;
}

h2 {
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  color: $font-color;
  margin:0px;
  font-size: 1.9rem;
}

h3 {
  color: $font-color;
  margin-top: 0rem;
  font-size: 1.7rem;
  margin-bottom:2rem;
}

h4 {
  color: $font-color;
  font-size: 1.6rem;
  margin: 0px;
  font-weight: 400;

}

p {
  color: $font-color;
  font-size: 1.425rem;
  margin: 0;

}

.instructions {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  height: 17rem;
  transition: top 0.5s ease-in-out;
  box-sizing: border-box;
  padding: 0rem $card-flex-gap 0rem $card-flex-gap;
  line-height:3rem;
}


$taxa-col-width: 15rem;

.taxa__grid {
  display:inline-grid;
  width: 100%;
  flex-flow: row wrap;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 1.15rem;
  justify-items: center;
}

.taxa__cell {
  width: 17.5rem;
  padding-left:0.25rem;
  display:flex;
  align-items: center;
}

.taxa__icon {
  $radius: 1.75rem;
  border-radius: 50%;
  height: $radius;
  width: $radius;
  box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, .2);
  margin-right: 0.7rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.underwater__container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.85rem;
}

.underwater__icon {
  $radius: 7rem;
  border-radius: 50%;
  height: $radius;
  width: $radius;
  margin-right: 2rem;
  position:relative;
  box-shadow:0px 0px 3px 2px rgba(24, 24, 24, .07);
  background-color: rgba(255, 255, 255, 0.2);
}

.underwater__svg {
  width: 4.75rem;
  height: auto;
  position:absolute;
  top:0;
  bottom:0;
  left:0%;
  right:0%;
  margin:auto;
}

$splide-width: calc(#{$card-width} - 5rem);
$splide-height: 30rem;
$splide-img-height: calc(#{$splide-height} - 8rem);


.splide__slide__container {
  display:inline-block;
}


.splide__captions {
  display: block;
  margin-top: 1.75rem;
  text-align: center;
  line-height: 2rem;
}

.splide {
  width:$splide-width;
  margin-bottom: calc(#{$card-flex-gap} - 1rem);
}

.splide__slide {
  width: $splide-width;
  height: $splide-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splide__slide--imageContainer {
  max-height:$splide-img-height;
  max-width: $splide-width
}

img {
  max-height: 100%;
  max-width: 100%;
}

.splide__pagination {
  position: absolute !important;
  bottom: -5% !important;
}


.splide__pagination__page {
  background-color:rgb(221, 221, 221) !important;
  box-shadow:rgba(0, 0, 0, 0) !important;
}


.splide__pagination__page.is-active {
  background: $linear-gradient !important;
}

.timescale__container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 37rem;
  margin-top: 0.75rem;
}

.indicator {
  position: absolute;
  bottom:120%;
  right: 2.6%;
  width: 20rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  transition: all .6s;
}

.indicator__line {
  width:100%;
  height:4px;
  border-radius:20px;
  background-color: grey;
  transition: width 1s ease-out;
}



.timescale__bar {
  position: relative;
  height: 2rem;
}

.cretaceous {
  background-color: #26566a;
  width: 34.7%;
  border-radius: 5px 0px 0px 5px
}

.paleogene {
  background-color: #3a838a;
  width: 42.6%;
}

.neogene {
  background-color: #4aa8ab;
  width: 20%;
}

.holocene {
  background-color: #7ecbc6;
  width: 2.8%;
  border-radius: 0px 5px 5px 0px
}

.timescale__age {
  position: absolute;
  text-align: left;
  width: 100%;
  bottom: -180%;
  font-size: 1.15rem; 
}

.cretaceous__age {
  left: -4%;
}

.paleogene__age {
  left: 30%;
}

.neogene__age {
  left: 70%;
}

.holocene__age {
  left:89%;
}

.timescale-legend {
  display: flex;
  flex-direction: row;
  margin-top: 4.25rem;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.timescale-legend__text {
  margin-top: 0px;
  display: inline;
  margin-bottom: 0px;
}

.timescale-legend__item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-right: 0.75rem;
  margin-top: 1.5rem;
}

.timescale-legend > :last-child {
  margin-right:0rem;
}

.timescale-legend__indicator {
  $radius: 1.25rem;
  min-width: $radius;
  min-height: $radius;
  width: $radius;
  height: $radius;
  margin-right: 0.5rem;
  border-radius: .2rem;
}

#cretaceous-circle {
  background-color: #26566a;
}

#paleogene-circle {
  background-color: #3a838a;
}

#neogene-circle {
  background-color: #4aa8ab;
}

#recent-circle {
  background-color: #7ecbc6;
}


.legend {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2rem;
  justify-content: space-around;

}

.legend__circle {
  display: inline-block;
  $radius: 1.1rem;
  height: $radius;
  width: $radius;
  border-radius: 50%;
  margin-right: 0.75rem;

}

.legend__flex-item {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.legend__circle--locality {
  background-color: rgba(20, 204, 180, 0.5);
  box-shadow: 0px 0px 0px 0.15rem rgba(247, 247, 247, 0.5);
}

.photo-indicator {
  display: none;
}

.legend__text {
  display: inline-block;
  margin:0rem;
}

.legend__circle--photo {
  background-color:orange;
  box-shadow: 0px 0px 0px 0.3rem yellow;
}

$widget-size: 5.75rem;

.widget {
  font-family: $font-family;
  height: $widget-size;
  width: $widget-size;
  min-width: 45px;
  min-height: 45px;
  font-size: 1.35rem;
  opacity: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: $box-shadow;
  display:flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  border-width: 0px;
  margin-bottom: 15px;
}

.widget:last-child {
  margin-bottom: 0px;
}


.widget__svg {
  pointer-events: none;
  -webkit-filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.3));
}

#drawWidget {
  display:none;
}

.draw-widget__svg {
  $widget-size: 4.5rem;
  height: $widget-size;
  width: $widget-size;
  min-width: 35px;
  min-height: 35px;
  position: absolute;
  top: -10%;
}

.reset-widget__svg {
  $widget-size:3.25rem;
  height: $widget-size;
  width: $widget-size;
  min-width: 25px;
  min-height: 25px;
  position: absolute;
  top: 10%;
}

.zoom {
  border-radius: 50%;
  position:relative;
}

@mixin zoom-icon {
  content: " ";
  position: absolute;
  display: block;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  border-radius: 1.5px;
}

$plus-stroke: 3.5px;
$plus-length: 42%;

#zoomIn::before {
  @include zoom-icon;
  height: $plus-length;
  width: $plus-stroke;
  background-image: linear-gradient(0deg, #42afe5, #3fdcff );
}

#zoomIn::after {
  @include zoom-icon;
  height: $plus-stroke;
  width: $plus-length;
  background: linear-gradient(to right, #42afe5, #3fdcff );
}

#zoomOut::before {
  @include zoom-icon;
  height: $plus-stroke;
  width: $plus-length;
  background: linear-gradient(to right, #42afe5, #3fdcff );
}

.draw-widget__animation {
  stroke-dasharray: 100;
  stroke-dashoffset: 105;
  -webkit-animation: draw 1s ease-in forwards;
  animation: draw 1s ease-in forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.widget__label {
  position: absolute;
  bottom: 2%;
  color: $font-color;
}

.cursor-animation {
  stroke-dasharray: 75;
  stroke-dashoffset: 100;
  -webkit-animation: draw 5s linear forwards;
  animation: draw 5s linear forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.draw-widget__path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-width: 3.5px;
  stroke: url(#linear-gradient-2);
}

.draw-cursor {
  fill: rgba(255, 255, 255, 0.75);
  stroke: url(#linear-gradient);
  stroke-width: 0.33px;
  opacity: 0.7;
}

.reset-widget__animation {
  -webkit-animation-name: loading-spinner;
  animation-name: loading-spinner;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-timing-function: cubic-bezier(0.67, 0.01, 0.35, 1);
  animation-timing-function: cubic-bezier(0.67, 0.01, 0.35, 1);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.reset-widget__path {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 5px;
  stroke: url(#linear-gradient-2);
  stroke-linecap: round;
}

.reset-widget__arrowhead {
  fill: url(#linear-gradient-2);
}

[ripple] {
  position: relative;
  overflow: hidden;
}
[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[ripple] .ripple--container span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  background-color: #d1d1d1;
  animation: ripple 1000ms;
}
@-moz-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
@-o-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}

$switch-height: 2.5rem;

.switch__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.switch {
  position: relative;
  display: inline-block;
  width: $widget-size;
  height: $switch-height;
  margin-bottom: 0.7rem;
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

$slider-radius: calc(#{$switch-height} - 0.75rem);
.slider:before {
  position: absolute;
  content: "";
  height: $slider-radius;
  width: $slider-radius;
  left: 0.47rem;
  bottom: 0.374rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: $linear-gradient;
}

input:focus + .slider {
  box-shadow: $box-shadow;
}

input:checked + .slider:before {
  $transform: 3rem;
  -webkit-transform: translateX($transform);
  -ms-transform: translateX($transform);
  transform: translateX($transform);
}

/* Rounded sliders */
.slider.round {
  border-radius: $switch-height;
}

.slider.round:before {
  border-radius: 50%;
}

.button__svg {
  position:absolute;
  height: 2.25rem;
  width: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  z-index: 10000;
  pointer-events: none;
}

.button__svg {
  stroke:#3F3F3F;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}

#viewDiv {
  visibility:hidden;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .widget {
    backdrop-filter: $blur;
    -webkit-backdrop-filter: $blur;
    background-color: rgba(255, 255, 255, 0.45);
  }
  .card {
    -webkit-backdrop-filter: $blur;
    backdrop-filter:$blur;
    background-color: rgba(255, 255, 255, 0.75);
  }
}

@media only screen and (max-height: 775px) {
  html {
    font-size: calc(.2vmin + 6px);
  }
  .widget {
    font-size: 1.5rem;
  }
}

@media only screen and (max-height: 675px) {
  html {
    font-size: calc(.2vmin + 5px);
  }
  .widget {
    font-size: 1.5rem;
  }
}