@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;550;600;700;800&display=swap');


$blur:blur(10px);
$card-border-radius: 10px;
$card-flex-gap: 6rem;
$seperator-gap: 4.5rem;
$card-margin: 1.25rem;
$card-width: 52.5rem;
// Controls the min-height of each section (card__container) and 
// the overall height of card__content
$card-section-height: 48rem; 
$card-margin-bottom: 1.5rem;
$box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
$lau-dark-blue: #26566A;
$lau-dark-turqoise: #3a838a;
$linear-gradient: linear-gradient(0deg, $lau-dark-turqoise, #4aa8ab );
$icon-background--inactive: rgb(225, 225, 225);
$font-family: "Inter", "Segoe UI", sans-serif;
$widget-size: 5.5rem;

button {
  border-width: 0rem;
  font-family: $font-family;
}



#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity:1;
}

html {
  font-size: calc(.25vmin + 7px);
  margin: 0;
}

body {
  font-family: $font-family;
  margin: 0;
  overflow: hidden;
}

.ui-container {   
  position:absolute;
  display: flex;
  flex-direction: column;
  margin: $card-margin-bottom;
}

.ui-top-left {
  top: 0;
  left: -100%;
  transition: left 650ms ease-out;
}

.ui-top-right {
  top: 0;
  right: 0;
}

.ui-bottom-right {
  bottom: 0;
  right: 0;
}

.ui-bottom-left {
  bottom: 0;
  left: 0;
}

.card {
  width: $card-width;
  border-radius: $card-border-radius;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: $box-shadow;
  overflow: none;

}

.card__content { 
  overflow-y: scroll;
  height: $card-section-height;
  overflow-x: hidden;
  position: relative;
  text-align: center; 
  margin: 0rem 1rem 1rem 1rem;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.info-card__card {
  transition: height 250ms;
}

.card__title {
  padding: 0px .25rem 0px .25rem;
  position: sticky;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //text-align: center;

  min-height: $card-section-height;
}

.photos--null {
  text-align: center;
  justify-content: center;
}

.card__flex-item { 
  margin-bottom: $card-flex-gap;
  box-sizing: border-box;
  padding: 0rem 3rem 0rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__title {
  margin-bottom: 3rem;
}

.seperator {
  margin-bottom:$seperator-gap;
  width: 20rem;
  height: 1px;
  background-color: rgba(117, 117, 117, 0.2);
}

.card__menu {
  $padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: $card-border-radius $card-border-radius 0px 0px;
  height:auto;
  width:100%;
  padding:$padding 0rem $padding 0rem;
  display:flex;
  justify-content: center;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.button__outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  $margin: 20px;
  margin: 0px $margin 0px $margin;
}

.button__inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  $radius: $widget-size;
  height: $radius;
  width: $radius
}

.button {
  height: 100%;
  width: 100%;
  background-color: rgb(239, 239, 239);
  border-radius: 50%;
}

.button__path {
  height: 110%;
  width: 110%;
  //stroke:
  fill:rgb(71, 71, 71);; 
  //stroke-width: 0.65rem;
}

.button__path--active {
  fill: white;
  stroke: none;
  clip-rule:evenodd;
}


.button--active {
  background: $linear-gradient;
  box-shadow: $box-shadow !important;
}

.button__caption--active {
  font-weight:700 ;
}

#collection {
  display:flex;
}

#location {
  display:flex;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:active {
  outline: 0px;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 100;
  

}

.hvr-grow-shadow:focus {
  outline: 0px;
}

/* Grow Shadow */
.hvr-grow-shadow--arrow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow--arrow:hover, .hvr-grow-shadow--arrow:active {
  outline: 0px;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transform: translateY(1.01);
  transform: translate(0px, -49%);
}

.button__caption {
  margin-top:0.5rem;
  font-size: 1rem

}

$font-color: rgb(60, 60, 60);

h1{
  font-weight: 800;
  color: $font-color;
  font-size: 2.75rem;
  margin:0rem 0rem .5rem 0rem;
}

h2 {
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  color: $font-color;
  margin:0px;
  font-size: 2.2rem;
}

h3 {
  color: $font-color;
  margin-top: 1rem;
  font-size: 1.85rem;
  margin-bottom:2rem;
}

h4 {
  color: $font-color;
  font-size: 1.7rem;
  margin-top: 1rem;
  line-height: 2.35rem;
  font-weight: 600;

}

h5 {
  color: $font-color;
  font-size: 1.7rem;
  margin: 0rem;
  line-height: 2.35rem;
  font-weight: 400;

}

p {
  color: $font-color;
  font-size: 1.55rem;
  margin: 0;
  line-height: 2.85rem;

}

.instructions__container {
  height: 100vh;
  width: 100vw;
  position:absolute;
  z-index: 10000;
  backdrop-filter: blur(10px);
  opacity: 1;
  transition: opacity 0.75s;
}

.instructions {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  height: 17rem;
  transition: top 0.5s ease-in-out;
  box-sizing: border-box;
  padding: 0rem $card-flex-gap 0rem $card-flex-gap;
  line-height:3rem;
  transition: top 0.4s ease-in;
  opacity:0;
}

.slash {
  stroke: #474747;
  stroke-linecap: round;
  stroke-width: 0.5rem;
  content: "";
  /*
  position: absolute;
  bottom: 0%;
  left: 0%;
  
  transform: rotateZ(45deg);
  
  transform-origin: bottom left;
  */
  width: 2rem;
  clip-rule: evenodd;
} 


.slash__outline {
  stroke: black;
  stroke-width: 1.25rem;
  stroke-linecap: round;
  clip-rule: evenodd;
}


.null__icon {
  //background-color: #7ecbc6;
  //background: $linear-gradient;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  margin: 0px;

}


$taxa-col-width: 15rem;
$taxa-row-gap: 1.5rem;

.taxa__grid {
  display:inline-grid;
  width: 100%;
  flex-flow: row wrap;
  grid-template-columns: 1fr;
  grid-column-gap: 2.15rem;
  grid-row-gap: $taxa-row-gap;
  justify-items: center;
}


.taxa__container-grid {
  grid-template-columns: 1fr 1fr;
}

.taxa__list {
  margin-bottom:$taxa-row-gap;
}

.taxa__cell {
  width: 100%;
  padding-left:0.4rem;
  display:flex;
  align-items: center;
  text-align: left;
}

.taxa__cell > p {
  line-height: 2rem;
}

.taxa__icon {
  $radius: 5rem;
  border-radius: 50%;
  height: $radius;
  width: $radius;
  box-shadow: 0px 0px 2px 1px rgba(24, 24, 24, .2);
  margin-left: 1rem;
  margin-right: 0.7rem;
}

.more {
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
  background: $linear-gradient;
  color: white;
  font-weight: 550;
}


.taxa__bottom-list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.underwater__container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.95rem;
}

.underwater__icon {
  $radius: 10rem;
  border-radius: 50%;
  height: $radius;
  width: $radius;
  margin-right: 2rem;
  position:relative;
  box-shadow:0px 0px 3px 2px rgba(24, 24, 24, .07);
  background-color: rgba(255, 255, 255, 0.2);
}

.underwater__svg {
  width: 7rem;
  height: auto;
  position:absolute;
  top:0;
  bottom:0;
  left:0%;
  right:0%;
  margin:auto;
}

.underwater__svg > path {
  fill:$lau-dark-blue;
}

$splide-width: calc(#{$card-width} - 5rem);
$splide-height: 35rem;
$splide-img-height: calc(#{$splide-height} - 8rem);


.splide__slide__container {
  display:inline-block;
}


.splide__captions {
  display: block;
  margin-top: 1.75rem;
  text-align: center;
  line-height: 2rem;
}

.splide {
  width:$splide-width;
  //margin-bottom: calc(#{$card-flex-gap} - 1rem);
}

.splide__slide {
  width: $splide-width;
  height: $splide-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splide__slide--imageContainer {
  max-height:$splide-img-height;
  max-width: $splide-width
}

img {
  max-height: calc(#{$splide-height} - 15rem);
  max-width: calc(#{$card-width} - 13rem);
}

.splide__pagination {
  //display:inline-block !important;
  //position: relative !important;
  margin-top: 1rem;
  padding: 0;
  //position: absolute !important;
  //bottom: -5% !important;
}


.splide__pagination__page {
  background-color:rgb(221, 221, 221) !important;
  box-shadow:rgba(0, 0, 0, 0) !important;
}


.splide__pagination__page.is-active {
  background: $linear-gradient !important;
}

.timescale__container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 39rem;
  margin-top: 3rem;
}

.indicator {
  position: absolute;
  bottom:135%;
  right: 2%;
  width: 5rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  transition: all .6s;
}

.indicator__line {
  width:100%;
  height:7px;
  border-radius:20px;
  background-color: grey;
  transition: width 1s ease-out;
}

.timescale {
  margin-bottom: $seperator-gap;
}

.timescale__bar {
  position: relative;
  height: 2rem;
}

.cretaceous {
  background-color: #26566a;
  width: 34.7%;
  border-radius: 5px 0px 0px 5px
}

.paleogene {
  background-color: #3a838a;
  width: 42.6%;
}

.neogene {
  background-color: #4aa8ab;
  width: 20%;
}

.holocene {
  background-color: #7ecbc6;
  width: 2.8%;
  border-radius: 0px 5px 5px 0px
}

.timescale__age {
  position: absolute;
  text-align: left;
  width: 100%;
  bottom: -180%;
  font-size: 1.2rem; 
}

.cretaceous__age {
  left: -4%;
}

.paleogene__age {
  left: 30%;
}

.neogene__age {
  left: 70%;
}

.holocene__age {
  left:89%;
}

.timescale-legend {
  display:inline-grid;
  width: 100%;
  flex-flow: row wrap;
  grid-template-columns: 1.1fr .9fr;
  grid-column-gap: 0rem;
  margin-top: 5.75rem;
  justify-items: left;
}

.timescale-legend__text {
  display: inline;
}

.timescale-legend__item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-right: 0.75rem;
  padding-left: 4rem;
}

.timescale-legend > :last-child {
  margin-right:0rem;
}

.timescale-legend__indicator {
  $radius: 1.5rem;
  min-width: $radius;
  min-height: $radius;
  width: $radius;
  height: $radius;
  margin-right: 0.85rem;
  border-radius: .2rem;
}

#cretaceous-circle {
  background-color: #26566a;
}

#paleogene-circle {
  background-color: #3a838a;
}

#neogene-circle {
  background-color: #4aa8ab;
}

#recent-circle {
  background-color: #7ecbc6;
}


.legend {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2rem 4rem 2rem 4rem;
  justify-content: space-around;
  width: auto;
}

.legend__circle {
  display: inline-block;
  $radius: 1.1rem;
  height: $radius;
  width: $radius;
  border-radius: 50%;
  margin-right: 0.75rem;

}

.legend__flex-item {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.legend__circle--locality {
  background-color: rgba(20, 204, 180, 0.5);
  box-shadow: 0px 0px 0px 0.15rem rgba(247, 247, 247, 0.5);
}

.photo-indicator {
  display: none;
}

.legend__text {
  display: inline-block;
  margin:0rem;
}

.legend__circle--photo {
  background-color:orange;
  box-shadow: 0px 0px 0px 0.3rem yellow;
}

.widget {
  font-family: $font-family;
  font-size: 1.35rem;
  opacity: 0;
  background-color:rgba(0,0,0,0);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  border-width: 0px;
}

.widget__container {
  height: $widget-size;
  width: $widget-size;
  min-width: 45px;
  min-height: 45px;
  margin-bottom: 15px;
}

.widget:last-child {
  margin-bottom: 0px;
}


.widget__svg {
  pointer-events: none;
  -webkit-filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.3));
}

.widget__label {
  font-weight: 600;
	text-shadow: 
       -1px 1px 0 white,
				1px 1px 0 white,
				1px -1px 0 white,
			 -1px -1px 0 white,
       -1px 0px 0 white,
        0px 1px 0 white,
        1px 0px 0 white,
        0px 1px 0 white;
  -webkit-font-smoothing: antialiased;
        
}

#drawWidget {
  display:none;
}

.draw-widget__svg {
  $widget-size: 4.5rem;
  height: $widget-size;
  width: $widget-size;
  min-width: 35px;
  min-height: 35px;
  position: absolute;
  top: -10%;
}

#resetWidget {
  margin-bottom: 0.25rem;
  background: $linear-gradient;
  border-radius: 100%;
  border-width: 0px;
  height: $widget-size; 
  width: $widget-size;
}

.reset-widget {
  margin-bottom: 15px;
}

.reset-widget__svg {
  
  height: $widget-size; 
  width: $widget-size;
  min-width: 25px;
  min-height: 25px;
  //position: absolute;
  top: 0%;
}

.zoom {
  border-radius: 50%;
  position:relative;
  background: $linear-gradient;
  box-shadow: $box-shadow;
}

@mixin zoom-icon {
  content: " ";
  position: absolute;
  display: block;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  border-radius: 1.5px;
  
}

$plus-stroke: 4px;
$plus-length: 42%;

#zoomIn::before {
  @include zoom-icon;
  height: $plus-length;
  width: $plus-stroke;
  background: white;
}

#zoomIn::after {
  @include zoom-icon;
  height: $plus-stroke;
  width: $plus-length;
  background: white;
  //background-image: linear-gradient(0deg, #26566A, #366e86 );
}

#zoomOut::before {
  @include zoom-icon;
  height: $plus-stroke;
  width: $plus-length;
  background: white;
  //background: linear-gradient(to right, #42afe5, #3fdcff );
}

.draw-widget__animation {
  stroke-dasharray: 100;
  stroke-dashoffset: 105;
  -webkit-animation: draw 1s ease-in forwards;
  animation: draw 1s ease-in forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.cursor-animation {
  stroke-dasharray: 75;
  stroke-dashoffset: 100;
  -webkit-animation: draw 5s linear forwards;
  animation: draw 5s linear forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.draw-widget__path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-width: 3.5px;
  stroke: url(#linear-gradient-2);
}

.draw-cursor {
  fill: rgba(255, 255, 255, 0.75);
  stroke: url(#linear-gradient);
  stroke-width: 0.33px;
  opacity: 0.7;
}

.reset-widget__animation {
  -webkit-animation-name: loading-spinner;
  animation-name: loading-spinner;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-timing-function: cubic-bezier(0.67, 0.01, 0.35, 1);
  animation-timing-function: cubic-bezier(0.67, 0.01, 0.35, 1);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.reset-widget__path {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 5px;
  stroke: url(#linear-gradient-2);
  stroke-linecap: round;
}

.reset-widget__arrowhead {
  fill: url(#linear-gradient-2);
}

[ripple] {
  position: relative;
  overflow: hidden;
}
[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[ripple] .ripple--container span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  background-color: #d1d1d1;
  animation: ripple 1000ms;
}
@-moz-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
@-o-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}
@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(3);
  }
}

$switch-height: 2.5rem;

.switch__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.switch {
  position: relative;
  display: inline-block;
  width: $widget-size;
  height: $switch-height;
  margin-bottom: 0.7rem;
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 0px 1px 0.15rem rgba(255, 255, 255, 0.75);
}

$slider-radius: calc(#{$switch-height} - 0.75rem);
.slider:before {
  position: absolute;
  content: "";
  height: $slider-radius;
  width: $slider-radius;
  left: 0.47rem;
  bottom: 0.374rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: $linear-gradient;
}

input:focus + .slider {
  box-shadow: $box-shadow;
}

input:checked + .slider:before {
  $transform: 3rem;
  -webkit-transform: translateX($transform);
  -ms-transform: translateX($transform);
  transform: translateX($transform);
}

/* Rounded sliders */
.slider.round {
  border-radius: $switch-height;
}

.slider.round:before {
  border-radius: 50%;
}

.button__svg {
  position:absolute;
  height: 2.25rem;
  width: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  z-index: 10000;
  pointer-events: none;
}

.button__svg {
  stroke:#3F3F3F;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}

#viewDiv {
  opacity:1;
  transition: opacity 1000ms;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .zoom {
    backdrop-filter: $blur;
    -webkit-backdrop-filter: $blur;
    background-color: rgba(255, 255, 255, 0.45);
  }
  .card {
    -webkit-backdrop-filter: $blur;
    backdrop-filter:$blur;
    background-color: rgba(255, 255, 255, 0.75);
  }
}

@media only screen and (max-height: 850px) {
  html {
    font-size: calc(.2vmin + 7px);
  }
  .widget {
    font-size: 1.5rem;
  }
}

@media only screen and (max-height: 700px) {
  html {
    font-size: calc(.2vmin + 6px);
  }
  .widget {
    font-size: 1.5rem;
  }
}
