<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href={{url_for('static', filename='css/splide.min.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/styles.min.css')}}>
    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>LAU Map Interactive (prototype)</title>
  </head>
  <body>
    <div id="loading">
    </div>
    <div class="instructions__container">
      <div class="card instructions">
        <h2>Tap on an area of the map to learn about what 
          fossils the museum has found there!</h2>
      </div>
    </div>
    <div id="viewDiv">
      <div class="ui-container ui-top-left" id="infoCard">
        <div class="card info-card__card">
          <nav class="card__menu">


            <li class="button__outer-container">
              <div class="button__inner-container">
                <a href="#photos" ripple="ripple" class="button button--active hvr-grow-shadow menu__button" id="collectionButton">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 126 126" xml:space="preserve">
                    <style>
                      .st0{fill:#26566A;} .button__path{fill-rule:evenodd;clip-rule:evenodd;}
                    </style>
                    <path class="button__path button__path--active" d="M78.43 32.14H47.57c-8.52 0-15.43 6.91-15.43 15.43v24.65l8.47-8.47c1-1 2.63-1 3.64 0l8.47 8.47L74.04 50.9c1-1 2.63-1 3.64 0l16.18 16.18V47.57c0-8.52-6.91-15.43-15.43-15.43zM47.57 27C36.21 27 27 36.21 27 47.57v30.86C27 89.79 36.21 99 47.57 99h30.86C89.79 99 99 89.79 99 78.43V47.57C99 36.21 89.79 27 78.43 27H47.57zm7.72 20.57c0 4.26-3.45 7.71-7.71 7.71s-7.71-3.45-7.71-7.71 3.45-7.71 7.71-7.71c4.25 0 7.71 3.45 7.71 7.71z"/>
                  </svg>
                </a>
              </div>


              <div class="button__caption button__caption--active" id="collectionButtonCaption"><p>Photos</p></div>
            </li>


            <li class="button__outer-container">
              <div class="button__inner-container">
                <a href="#time" ripple="ripple" class="button hvr-grow-shadow menu__button" id="collectionButton">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 126 126" xml:space="preserve">
                    <style>
                      .st0{fill:#26566A;} .st1{fill:#FFFFFF;}
                    </style>
                    <path class="button__path" d="M40.49 32.59c0 1.84-.01 3.63.01 5.43 0 .43.05.87.13 1.29.57 2.79 3.12 4.75 5.97 4.63 2.83-.12 5.19-2.29 5.54-5.1.05-.36.06-.73.06-1.1.01-1.7 0-3.41 0-5.14h21.59v.46c0 1.67-.01 3.33 0 5 .01 3.1 2.29 5.57 5.4 5.87 2.88.28 5.58-1.76 6.19-4.7.08-.4.11-.81.12-1.21.01-1.64.01-3.28.01-4.92v-.48c.07-.02.11-.05.16-.05 2.34.01 4.67-.07 7 .05 3.51.17 6.28 3.14 6.37 6.65 0 .14.01.29.01.43v52.2c0 3.25-1.91 5.93-4.89 6.8-.62.18-1.29.29-1.93.29-19.49.01-38.97.01-58.46.01-3.68 0-6.7-2.97-6.82-6.67v-.28-52.51c0-3.2 2.05-5.92 5.1-6.73.58-.15 1.19-.23 1.79-.24 2.11-.03 4.22-.01 6.34-.01.08 0 .17.02.31.03zm-8.04 19.54V89.9c0 2.19 1.46 3.65 3.65 3.65 17.91 0 35.82-.01 53.73.02 2.18 0 3.75-1.62 3.74-3.75-.04-12.41-.02-24.82-.02-37.24v-.44c-20.37-.01-40.71-.01-61.1-.01z"/>
                    <path class="button__path" d="M43.64 33.86c0-1.39-.01-2.78 0-4.17.02-1.22.81-2.26 1.94-2.58 1.16-.33 2.41.1 3.01 1.14.25.43.43.98.43 1.48.04 2.77.03 5.53.02 8.3 0 1.53-1.18 2.71-2.68 2.72-1.5.01-2.7-1.15-2.72-2.68-.02-1.4 0-2.81 0-4.21zM76.95 33.87v-4.05c0-1.61 1.16-2.81 2.71-2.81 1.54 0 2.69 1.21 2.69 2.82 0 2.74.01 5.48 0 8.22 0 1.36-1.02 2.51-2.31 2.67-1.38.17-2.62-.63-2.98-1.95-.07-.27-.1-.57-.11-.85-.01-1.35 0-2.7 0-4.05zM47.65 80.36v6.13h-8.28v-6.13h8.28zM52.38 80.34h8.24v6.15h-8.24v-6.15zM73.63 80.36v6.12h-8.26v-6.12h8.26zM78.36 80.34h8.25v6.14h-8.25v-6.14zM73.63 69.76v6.13h-8.26v-6.13h8.26zM60.64 69.76v6.13h-8.26v-6.13h8.26zM86.63 69.76v6.13h-8.26v-6.13h8.26zM47.66 69.77v6.12h-8.28v-6.12h8.28zM47.64 65.29h-8.26v-6.12h8.26v6.12zM60.64 59.16v6.12h-8.25v-6.12h8.25zM65.37 59.16h8.26v6.12h-8.26v-6.12zM86.62 59.16v6.12h-8.27v-6.12h8.27z"/>
                  </svg>
                </a>
              </div>
              <div class="button__caption" id="collectionButtonCaption"><p>Time</p></div>
            </li>

            <li class="button__outer-container">
              <div class="button__inner-container">
                <a  href="#location" ripple="ripple" class="button hvr-grow-shadow menu__button" id="locationButton">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 126 126" xml:space="preserve">
                    <style>
                      .button__icon{} .st1{fill:#FFFFFF;}
                    </style>
                    <path class="button__path" d="M45.62 71.48a8.404 8.404 0 01-6.66 2.4c-1.78-.16-3.52-.32-5.09-.47-3.51-.32-6.59 2.28-6.85 5.78-.25 3.3 2.13 6.23 5.44 6.68 1.16.16 2.02 1.16 1.98 2.33l-.23 7.22a3.47 3.47 0 003.58 3.57l9.84-.27a3.475 3.475 0 003.38-3.19l.75-9.41a8.265 8.265 0 012.42-5.21l.86-.84 25.37-25.56a8.404 8.404 0 016.66-2.4c1.78.16 3.52.32 5.09.47 3.51.32 6.59-2.28 6.85-5.78.25-3.3-2.13-6.23-5.44-6.68a2.281 2.281 0 01-1.98-2.33l.23-7.22A3.47 3.47 0 0088.24 27l-9.84.27a3.483 3.483 0 00-3.38 3.19l-.75 9.41a8.265 8.265 0 01-2.42 5.21L45.51 71.6"/>
                  </svg>
                </a>
              </div>
              <div class="button__caption" id="locationButtonCaption"><p>Fossils</p></div>
            </li>


          </nav>
          <div id="locationTitle"class="card__flex-item card__title">
            <h1 class="featureName">San Bernadino County</h1>
            <h2 id="excavationNumber">2,000 excavation sites</h2>
          </div>
          <div class="card__content">


            <div id="photos" class="card__container">
              <div class="photos--info">
                <div id="sliderDiv" class="card__flex-item">
                  <h3 class="card__header">Swipe to see local fossils!</h3>
                  <div class="splide">
                    <div class="splide__track">
                      <ul class="splide__list">
                      </ul>
                    </div>
                  </div>
                </div>
                <!--
                <div class="seperator card__flex-item"></div>
                -->
              </div>
              <div class="photos--null card__flex-item">
                <div class="null__icon">
                  <svg version="1.1" id="nullPhotoIcon" class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 126 126" xml:space="preserve">
                    <style>
                      .st0{fill:#26566A;} #clip{clip-rule:evenodd;} .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
                    </style>
                    <line class="slash" x1="20%" y1="20%" x2="80%" y2="80%" ></line>
                    <mask id="mask">
                      <rect x="0" y=0 width="100%" height="100%" fill="white"></rect>
                      <line class="slash__outline" x1="20%" y1="20%" x2="80%" y2="80%"></line>
                    </mask>
                    <path class="button__path" mask="url(#mask)" d="M78.43 32.14H47.57c-8.52 0-15.43 6.91-15.43 15.43v24.65l8.47-8.47c1-1 2.63-1 3.64 0l8.47 8.47L74.04 50.9c1-1 2.63-1 3.64 0l16.18 16.18V47.57c0-8.52-6.91-15.43-15.43-15.43zM47.57 27C36.21 27 27 36.21 27 47.57v30.86C27 89.79 36.21 99 47.57 99h30.86C89.79 99 99 89.79 99 78.43V47.57C99 36.21 89.79 27 78.43 27H47.57zm7.72 20.57c0 4.26-3.45 7.71-7.71 7.71s-7.71-3.45-7.71-7.71 3.45-7.71 7.71-7.71c4.25 0 7.71 3.45 7.71 7.71z"/>
                  </svg>
                </div>
                <div>
                  <h3>Try selecting a different area on the map!</h3>
                  <h5>The museum has not photographed fossils from this area,
                    but is always photographing new fossils from around Southern California.</h5>
                </div>
              </div>
            </div>
            <div id="time" class="card__container">
              <div id="timeDiv" class="timescale">
                <h3>Fossil age</h3>
                <div id="timeText" class="card-header__container--2">
                  <h1 id="timeText" class="card__header"></h1>
                  <h1 id="timeRange" class="card__header"></h1>
                </div>
                <div class="timescale__container">
                  <div id="indicator" class="indicator">
                    <div class="indicator__tick"></div>
                    <div class="indicator__line"></div>
                    <div class="indicator__tick"></div>
                  </div>
                  <div class= "timescale__bar cretaceous"></div>
                  <div class= "timescale__bar paleogene"></div>
                  <div class= "timescale__bar neogene"></div>
                  <div class= "timescale__bar holocene"></div>
                  <div class="timescale__age holocene__age">
                    2.6 million </br> years ago
                  </div>
                  <div class="timescale__age neogene__age">
                    20 million </br> years ago
                  </div>
                  <div class="timescale__age paleogene__age">
                    66 million </br> years ago
                  </div>
                  <div class="timescale__age cretaceous__age">
                    100 million </br> years ago
                  </div>

              </div>
                <div class = "timescale-legend">
                  <div class="timescale-legend__item">
                    <div class="timescale-legend__indicator" id="cretaceous-circle"></div>
                    <p class= "timescale-legend__text">Late Cretaceous</p>
                  </div>
                  <div class="timescale-legend__item">
                    <div class="timescale-legend__indicator" id="paleogene-circle"></div>
                    <p class= "timescale-legend__text">Paleogene</p>
                  </div>
                  <div class="timescale-legend__item">
                    <div class="timescale-legend__indicator" id="neogene-circle"></div>
                    <p class="timescale-legend__text">Neogene</p>
                  </div>
                  <div class="timescale-legend__item">
                    <div class="timescale-legend__indicator" id="recent-circle"></div>
                    <p class="timescale-legend__text">Recent</p>
                  </div>
                </div>
              </div>
              <div class="seperator card__flex-item"></div>
              <div class="underwater__container card__flex-item">
                <div class="underwater__icon">
                  <svg class="underwater__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path class="button-svg__path" d="M562 384c-21-3-42-11-58-23a39 39 0 00-48 0c-38 30-107 30-146-1-13-12-33-10-46 1-38 30-107 30-146-1-13-12-33-9-47 2-15 12-36 20-57 22-8 1-14 8-14 16v32c0 9 8 17 17 16 29-3 56-12 79-26 57 35 137 34 192 0 57 35 137 34 192 0 23 14 51 23 79 26 9 1 17-7 17-16v-32c0-8-6-15-14-16zm0-144c-21-3-42-11-58-23a39 39 0 00-48 0c-38 30-107 30-146-2-13-11-33-9-46 2-38 30-107 30-146-1-13-12-33-9-47 2-15 12-36 20-57 22-8 1-14 8-14 16v32c0 9 8 17 17 16 29-3 56-12 79-26 57 35 137 34 192 0 57 35 137 34 192 0 23 14 51 23 79 26 9 1 17-7 17-16v-32c0-8-6-15-14-16zm0-144c-21-3-42-11-58-23a39 39 0 00-48 0c-38 30-107 30-146-1-13-12-33-10-46 1-38 30-107 30-146-1-13-12-33-9-47 2-15 12-36 20-57 22-8 1-14 8-14 16v32c0 9 8 17 17 16 29-3 56-11 79-26 57 35 137 34 192 0 57 35 137 34 192 0 23 14 51 23 79 26 9 1 17-7 17-16v-32c0-8-6-15-14-16z"/>
                  </svg>
                </div>
                <div class="underwater-text__container">
                  <h5><div class="featureName">San Bernadino County</div>
                    was last underwater</br>
                    <strong id="yearsUnderwater">12,000 years ago</strong></h5>
                </div>
              </div>
            </div>
            <div id="location" class="card__container">


              <div class="taxa card__flex-item taxa--info">
                <h3>225 fossils found</h3>
                <div class="taxa__grid taxa__container-grid">
                  <div class="invert__container">
                    <h4>Invertebrate</h4>
                    <!--<button class="accordion hvr-grow-shadow"><b>&#x25BE; Invertebrates</b></button>-->
                    <div class="invert__top-list taxa__list taxa__grid"></div>
                    <div class="invert__bottom-list taxa__list taxa__bottom-list taxa__grid"></div>
                  </div>
                  <div class="vert__container">
                    <h4>Vertebrates</h4>
                    <div class="vert__top-list taxa__list taxa__grid"></div>
                    <div class="vert__bottom-list taxa__list taxa__bottom-list taxa__grid"></div>
                  </div>

                </div>
                <button class="more hvr-grow-shadow">+ More</button>
              </div>
              <div class="taxa card__flex-item taxa--null">
                <div class="null__icon">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 126 126" xml:space="preserve">
                  <line class="slash" x1="20%" y1="20%" x2="80%" y2="80%"></line>
                  <mask id="mask">
                    <rect x="0" y=0 width="100%" height="100%" fill="white"></rect>
                    <line class="slash__outline" x1="20%" y1="20%" x2="80%" y2="80%"></line>
                  </mask>
                    <path class="button__path" mask="url(#mask)" d="M45.62 71.48a8.404 8.404 0 01-6.66 2.4c-1.78-.16-3.52-.32-5.09-.47-3.51-.32-6.59 2.28-6.85 5.78-.25 3.3 2.13 6.23 5.44 6.68 1.16.16 2.02 1.16 1.98 2.33l-.23 7.22a3.47 3.47 0 003.58 3.57l9.84-.27a3.475 3.475 0 003.38-3.19l.75-9.41a8.265 8.265 0 012.42-5.21l.86-.84 25.37-25.56a8.404 8.404 0 016.66-2.4c1.78.16 3.52.32 5.09.47 3.51.32 6.59-2.28 6.85-5.78.25-3.3-2.13-6.23-5.44-6.68a2.281 2.281 0 01-1.98-2.33l.23-7.22A3.47 3.47 0 0088.24 27l-9.84.27a3.483 3.483 0 00-3.38 3.19l-.75 9.41a8.265 8.265 0 01-2.42 5.21L45.51 71.6"/>
                  </svg>
                </div>
                <h3>Try selecting a different area on the map!</h3>
                <h5>The museum currently does not have information on the kinds of fossils
                  found here, but is always learning about fossils from around Southern California.</h5>
              </div>
              <!--
              <div class="seperator card__flex-item"></div>
              -->
            </div>


          </div>


        </div>
        <div class="ui-container ui-top-left" id="noInfoCard">
          <div class="card card__container">
            <div class="card__menu">
              <h1>No fossil sites found in <br> <span class="featureName"></span></h1>
            </div>
            <div class="card__flex-item">
              <div class="null__icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 126 126" xml:space="preserve">
                <line class="slash" x1="20%" y1="20%" x2="80%" y2="80%"></line>
                <mask id="mask">
                  <rect x="0" y=0 width="100%" height="100%" fill="white"></rect>
                  <line class="slash__outline" x1="20%" y1="20%" x2="80%" y2="80%"></line>
                </mask>
                  <path class="button__path" mask="url(#mask)" d="M45.62 71.48a8.404 8.404 0 01-6.66 2.4c-1.78-.16-3.52-.32-5.09-.47-3.51-.32-6.59 2.28-6.85 5.78-.25 3.3 2.13 6.23 5.44 6.68 1.16.16 2.02 1.16 1.98 2.33l-.23 7.22a3.47 3.47 0 003.58 3.57l9.84-.27a3.475 3.475 0 003.38-3.19l.75-9.41a8.265 8.265 0 012.42-5.21l.86-.84 25.37-25.56a8.404 8.404 0 016.66-2.4c1.78.16 3.52.32 5.09.47 3.51.32 6.59-2.28 6.85-5.78.25-3.3-2.13-6.23-5.44-6.68a2.281 2.281 0 01-1.98-2.33l.23-7.22A3.47 3.47 0 0088.24 27l-9.84.27a3.483 3.483 0 00-3.38 3.19l-.75 9.41a8.265 8.265 0 01-2.42 5.21L45.51 71.6"/>
                </svg>
              </div>
              <h3>Try selecting a different area on the map!</h3>
              <h5>The museum has not collected fossils from this area, but is always collecting new fossils from around Southern California. </h5>
            </div>
          </div>
        </div>
      </div>


      <div class="ui-container ui-bottom-left">
        <div class="card legend">
          <div class="legend__flex-item locality-indicator">
            <div class="legend__circle legend__circle--locality"></div>
            <h3 class="legend__text"> Collection event</h3>
          </div>
          <div class="legend__flex-item photo-indicator">
            <div class="legend__circle legend__circle--photo"></div>
            <h3 class="legend__text"> Selected fossil</h3>
          </div>
        </div>
      </div>


      <div class="ui-container ui-top-right">
        <div class="widget reset-widget">
          <button class="widget hvr-grow-shadow" id="resetWidget" ripple = "ripple"  title="Return map to original extent">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 126 126" xml:space="preserve"
              id="resetSvg" class= "widget__svg reset-widget__svg reset-widget__animation hvr-grow-shadow">
              <style>
                .st0{fill:#26566A;} .st1{fill:#FFFFFF;}
              </style>
              <path class="st1" d="M99.74 61.94c-.56-19.54-17.33-35.69-36.82-35.69-.29 0-.58 0-.87.01a36.727 36.727 0 00-26.41 12.29l-4.71-4.67a2.68 2.68 0 00-2.98-.58c-1.05.44-1.7 1.41-1.7 2.55v17.16c0 1.54 1.21 2.75 2.75 2.75h17.16c1.15 0 2.13-.66 2.55-1.71a2.69 2.69 0 00-.62-2.97l-5.72-5.75c5.25-6.09 12.73-9.57 20.62-9.57 8.16 0 15.83 3.63 21.04 9.97 5.2 6.32 7.26 14.62 5.65 22.77-2.11 10.8-10.83 19.36-21.71 21.28-14.31 2.56-27.77-6.08-31.34-20.11a4.749 4.749 0 00-4.56-3.42c-1.5 0-2.89.68-3.81 1.87-.89 1.15-1.2 2.6-.84 3.98a36.653 36.653 0 0035.56 27.64c10.01 0 19.37-3.95 26.35-11.12 6.99-7.17 10.68-16.65 10.41-26.68z"/>
            </svg>
          </button>
          <p class="widget__label">Reset</p>
        </div>


        <button id="drawWidget" ripple = "ripple" class="widget draw-widget hvr-grow-shadow" title="Select features by polygon">
          <svg viewBox="0 0 40 40" class="draw-widget__svg widget_svg"
            <defs>
              <linearGradient id="linear-gradient" x1="28.29" y1="31.32" x2="33.32" y2="31.32" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#444"/>
                <stop offset="1" stop-color="#444"/>
              </linearGradient>
              <linearGradient id="linear-gradient-2" x1="15.83" y1="25.51" x2="39.58" y2="25.51"
                              gradientTransform="matrix(1.3, 0.27, -0.24, 1.15, -5.05, -13.43)"
                              gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#42afe5"/>
                <stop offset="1" stop-color="#3fdcff"/>
              </linearGradient>
            </defs>
            <path class="draw-widget__path draw-widget__animation"
                  id = "drawPath"
                  transform=translate(-3)
                  d="M 28.31,11.68c-1.13.64-2.72,1.36-3.85,2-2,1.19-4,2.41-6,3.69
                      a 23.08,23.08,0,0,0-6.87,6.45
                      A 5.75,5.75,0,0,0,10.52,27,3.29,3.29,0,0,0,12,29.61
                      c 2.39,1.64,6.06,0,8-1.27,1-.69,1.69-1.25,2.49-1.88,1.3-1,2.62-2,4-3
                      a 18.94,18.94,0,0,1,5.36-2.72,5.32,5.32,0,0,1,2.57-.15,3.9,3.9,0,0,1,
                        1.68.89,3.28,3.28,0,0,1,1,1.62,3.2,3.2,0,0,1-.3, 2.17,6.43,6.43,0,0,
                        1-2.45,2.49,40.41,40.41,0,0,1-3.75,1.8,27.59,27.59,0,0,0-4.67,2.35,
                        2.76,2.76,0,0,0-1.22,1.89,2.4,2.4,0,0,0,1.92,2.4
                      c 2.48.54,3.86-2.19,6.09-2.58,1.7-.3,2.59,1.29,3.38,2.38"/>
          </svg>
          <div class="absolute-position widget__label">Draw</div>
        </button>


        <div class="switch__container">
          <label class="switch" >
            <input type="checkbox" id="languageSwitch">
            <span class="slider hvr-grow-shadow round"></span>
          </label>
          <p class="widget__label" id="languageLabel">English</p>
        </div>

      </div>
      <div class="ui-container ui-bottom-right">
        <button id="zoomIn"
        class="zoom widget widget__container hvr-grow-shadow"
        ripple = "ripple"
        title="Zoom in">
      </button>
        <button id="zoomOut"
        class="zoom widget widget widget__container hvr-grow-shadow"
        ripple = "ripple"
        title="Zoom out">
        </button>
      </div>
    </div>
    <script src="https://js.arcgis.com/4.17/"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="module" src={{url_for('static', filename='js/app.js')}}></script>
    <script type="module" src={{url_for('static', filename='js/scrollBox.js')}}></script>
  </body>
</html>
